<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Citizen Login</title>

<link rel="stylesheet" href="{% static 'account/css/login.css' %}">

</head>

<body>

<div class="container">

<form method="POST" class="register-form">

{% csrf_token %}

<h2>Citizen Login</h2>

<p class="subtitle">
Access your Nagrik Report dashboard
</p>

<input 
type="text" 
name="username" 
placeholder="Enter Username"
required
>

<input 
type="password" 
name="password" 
placeholder="Enter Password"
required
>

<button type="submit">

Login

</button>

<p class="extra">

Don't have account?

<a href="{% url 'register' %}">
Register here
</a>

</p>

<a href="{% url 'officer_login' %}" class="officer-link">

Officer Login →

</a>

</form>

</div>

</body>

</html>